@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    position: relative;
    background-size: cover;
    height: 600px;
    width: 100%;
    background-position: center;
    background: url("../src/main/webapp/images/img1.jpg") no-repeat;
}
header::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}
nav{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 1;
}
nav .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}
nav .menu{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.menu ul{
    display: flex;
}
.menu ul li{
    list-style: none;
    margin-left: 7px;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    transition: all 0.3s ease;
}
.menu ul li.active a{
    background: #fdcb6e;
    color: #000;
}
.menu ul li a:hover{
    background: #fdcb6e;
    color: #000;

}
.container{
    max-width: 1170px;
    margin-left: 250px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #fdcb6e;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ccc;
    text-decoration: none;
    font-weight: 300;
    color: white;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li p{
    font-size: 16px;
    text-transform: none;
    color: #ccc;
    text-decoration: none;
    font-weight: 300;
    color: white;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ccc;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
.footer-c{
    margin-left: 300px;
    margin-top: 50px;
    font-size: 15px;
}

.intro {
    /*background-color: darkseagreen;*/
    margin-top: 50px;
    width: 100%;
    height: 250px;
}

.intro h2 {
    height: 50px;
    width: 20%;
    /*background-color: chartreuse;*/
    float: left;
    margin-left: 25px;
    margin-top: 90px;
}

.intro img {
    width: 400px;
    height: 250px;
    float: left;
    margin-left: 30px;
}

.text {
    float: left;
    margin-left: 20px;
    width: 40%;
}

.food {
    /*background-color: orange;*/
    width: 100%;
    height: 300px;
    margin-top: 50px;
    float: left;
}

.service {
    margin-bottom: 50px;
}

.textService {
    width: 45%;
    float: right;
}

.login {
    width: auto;
    height: auto;
    margin-left: 300px;
    margin-right: 200px;
    margin-top: 30px;
    border-radius: 15px 50px;
}

.login img {
    width: 160px;
    height: 120px;
    float: left;
}

.login h3{
    float: left;
    padding-top: 25px;
    padding-left: 150px;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}




