<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/style.css">
    <title>List of attach service</title>
</head>
<body>
<header>
    <nav>
        <div class="menu">
            <div class="logo">
                <a href="/camping">COCO ECOLODGE</a>
            </div>
            <ul>
                <li><a href="/camping">HOME</a>
                <li><a href="listServiceAdmin">COCO CAMPING</a>
                <li><a href="listAttachServiceAdmin">ATTACH SERVICE</a></li>
                <li><a href="">CUSTOMER</a></li>
                <li><a href="">CONTACTS</a></li>
                <li><a href="login">LOGIN</a></li>
            </ul>
        </div>
    </nav>
</header>
<h3 style = "text-align: center; margin-top: 50px; margin-bottom: 50px">List of attach service</h3>

<form style = "float: left" th:action = "@{'/camping/listAttachServiceAdmin'}" method = "get">
    <input style = "float: left; margin-left: 130px; width: 300px" class="input-group-text" id="basic-addon1" name = "attachServiceNameSearch" placeholder="Enter name attach service">
    <button style = "margin-left: 2px" type="submit" class="btn btn-warning">Search</button>
</form>

<a style = "margin-left: 370px" class="btn btn-warning" th:href="@{/camping/listAttachServiceAdmin/create}">Add new attach service</a>

<br>

<table class="table table-striped table-hover" style = "width: 80%; margin-left: 130px; margin-top: 50px">
    <thead style="background: #fdcb6e">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Image</th>
        <th scope="col">Name of attach service</th>
        <th scope="col">Cost (VND/1 people)</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "attachService, status: ${attachServices}">
        <th th:text = "${attachService.attach_service_id}" style = "padding-top: 45px; text-align: center" scope="row"></th>
        <td><img style = "width: 100px; height: 100px" th:src = "${attachService.attach_service_image}" class="card-img-top" alt="...">
        <td th:text = "${attachService.getAttach_service_name()}" style = "padding-top: 45px"></td>
        <td th:text = "${attachService.getAttach_service_cost()}" style = "padding-top: 45px; padding-left: 60px"></td>
        <td style = "padding-top: 45px">
            <a class="btn btn-warning" th:href= "@{listAttachServiceAdmin/edit(attach_service_id=${attachService.getAttach_service_id()})}">Edit</a>
            <a class="btn btn-warning" th:href= "@{listAttachServiceAdmin/delete(attach_service_id=${attachService.getAttach_service_id()})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<div style = "float: left; margin-left: 550px">
    <a th:href = "@{'/camping/listAttachServiceAdmin'(page=${attachServices.number - 1}, name = ${attachServiceNameSearch})}" th:if="${attachServices.hasPrevious()}">Previous</a>
    <span th:text="${attachServices.number + 1}"></span>/<span th:text="${attachServices.totalPages}"></span>
    <a  th:href = "@{'/camping/listAttachServiceAdmin'(page=${attachServices.number + 1}, name = ${attachServiceNameSearch})}" th:if="${attachServices.hasNext()}">Next</a>
</div>

<a class="btn btn-light" style="margin-left: 300px"  href="/camping">Back to home</a>

<footer class="footer">
    <div class="container" style="margin-left: 200px;">
        <div class="row">
            <div class="footer-col">
                <h4>CONTACTS</h4>
                <ul style="margin-right: -50px">
                    <li><p>TEL: +84 901 561 777</p></li>
                    <li><p>HOTLINE: +84 966 461 777</p></li>
                    <li><p>EMAIL: cococamping@gmail.com</p></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>INFORMATION</h4>
                <ul>
                    <li><a href="#">CUSTOMERS CARE</a></li>
                    <li><a href="#">RESERVATION</a></li>
                    <li><a href="#">SALES & MARKETING</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>SERVICES</h4>
                <ul>
                    <li><a href="#">COCO CAMPING</a></li>
                    <li><a href="#">COCO FOOD & DRINK</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>FOLLOW US</h4>
                <div class="social-links">
                    <a href="#"><i style="margin-top: 15px" class="fab fa-facebook-f"></i></a>
                    <a href="#"><i style="margin-top: 15px" class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer-c">
                Copyright © 2022 COCO CAMPING . All rights reserved.
            </div>
        </div>
    </div>
</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</html>
