<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style/style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<header>
    <nav>
        <div class="menu">
            <div class="logo">
                <a href="">COCO ECOLODGE</a>
            </div>
            <ul>
                <li class="active"><a href="">HOME</a>
                <li><a href="camping/listServiceAdmin">COCO CAMPING</a>
                <li><a href="camping/listAttachServiceAdmin">ATTACH SERVICE</a></li>
                <li><a href="camping/listAttachServiceAdmin">CUSTOMER</a></li>
                <li><a href="">CONTACTS</a></li>
                <li><a href="camping/login">LOGIN</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class = "intro">
    <h2 style="color: #f6b53f">COCO ECOLODGE</h2>
    <img src="https://cdn0.vox-cdn.com/thumbor/cJsjf1KCt0lSO7wyOe6Vm6nFxGk=/0x271:5225x3210/1600x900/cdn0.vox-cdn.com/uploads/chorus_image/image/54137641/camping_tents.0.jpg" >
    <div class = "text">
        <p>Cung cấp đầy đủ các hoạt động ngoài trời, các dịch vụ đi kèm hấp dẫn, giúp thư giãn thư giản sau những ngày làm việc mệt
            mỏi. Bên cạnh đó, một buổi camping cùng bạn bè, người thân còn giúp chúng ta gắn bó và thêm hiểu nhau hơn.</p>
        <p style="margin-top: 20px; height: 60px">
            <span><img style="width: 50px; height: 50px" src="https://cdn-icons-png.flaticon.com/128/2045/2045886.png"></span>
            <span><img style="width: 50px; height: 50px; margin-left: 110px" src="https://cdn-icons-png.flaticon.com/128/3287/3287922.png"></span>
            <span><img style="width: 50px; height: 50px; margin-left: 80px" src="https://cdn-icons-png.flaticon.com/128/1432/1432724.png"></span>
        </p>
        <p>
            <span style="color: #f6b53f">VỊ TRÍ LÝ TƯỞNG</span>
            <span style="margin-left: 30px; color: #f6b53f">WIFI MIỄN PHÍ</span>
            <span style="margin-left: 30px; color: #f6b53f">DỊCH VỤ 24/7</span>
        </p>
    </div>
</div>

<h2 style="text-align: center; padding-top: 100px; color: #f6b53f">ẨM THỰC VÀ GIẢI TRÍ</h2>

<div class = "food">
    <img style="width: 500px; height: 300px; margin-left: 150px" src="http://forjenssake.files.wordpress.com/2011/06/buffet3.jpg">
    <div class = "text" style="margin-top: 80px; margin-left: 70px">
        <h3 style="color: #f6b53f">ẨM THỰC</h3><br>
        <p>Trải nghiệm ẩm thực có sự kết hợp giữa các món ăn Việt Nam, Châu Á, và Châu Âu mang đến cho du khách những ẩm thực đa dạng.</p>
    </div>
</div>

<div class = "service">
    <img style="width: 500px; height: 300px; margin-left: 50px; margin-top: 80px" src="http://cudeecolodge.com/upload/news/15-6815.jpg">
    <div class = "textService" style="margin-top: 80px; margin-left: 70px">
        <h3 style="color: #f6b53f">LỬA TRẠI</h3><br>
        <p>Còn gì tuyệt vời hơn khi được quây quần cùng bạn bè, người thân quanh ngọn lửa trại ấm áp. Và bạn cũng có thể
            sử dụng ngọn lửa trại mạnh mẽ này để nướng những món ăn ngon bất cứ khi nào bạn muốn. <br><br>Đối với người cổ đại,
            lửa cung cấp hơi ấm, bảo vệ họ khỏi thú dữ, là ánh sáng trong vùng hoang vu tăm tối và nấu chín thức ăn. Mặc dù
            lửa không còn quan trọng đối với hầu hết sự tồn tại của con người ngày nay, nhưng nó vẫn có một sức mạnh kỳ diệu
            và đẹp đẽ để thu hút chúng ta.</p>
    </div>
</div>

<footer class="footer">
    <div class="container" style="margin-left: 200px;">
        <div class="row">
            <div class="footer-col">
                <h4>CONTACTS</h4>
                <ul style="margin-right: -50px">
                    <li><p>TEL: +84 901 561 777</p></li>
                    <li><p>HOTLINE: +84 966 461 777</p></li>
                    <li><p>EMAIL: cococamping@gmail.com</p></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>INFORMATION</h4>
                <ul>
                    <li><a href="#">CUSTOMERS CARE</a></li>
                    <li><a href="#">RESERVATION</a></li>
                    <li><a href="#">SALES & MARKETING</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>SERVICES</h4>
                <ul>
                    <li><a href="#">COCO CAMPING</a></li>
                    <li><a href="#">COCO FOOD & DRINK</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>FOLLOW US</h4>
                <div class="social-links">
                    <a href="#"><i style="margin-top: 15px" class="fab fa-facebook-f"></i></a>
                    <a href="#"><i style="margin-top: 15px" class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer-c">
                Copyright © 2022 COCO CAMPING . All rights reserved.
            </div>
        </div>
    </div>
</footer>
</body>
</html>